<p id="notice"><%= notice %></p>
<% if @question.user %>
<%= @question.user.email %>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<%= render 'answers/form' %>
<ul>
<%= render @answers %>
</ul>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', questions_path %>
