<p id="notice"><%= notice %></p>
<% if @question.user %>
<%= @question.user.email %>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<%= render 'answers/form' %>
<ul>
<% @answers.each do |answer| %>
  <% @answer = answer %>
  <% if @answer.content? %>
    <li>
      <%= @answer.content %>,
        <% if user_signed_in? %>
          <% if @answer.user == current_user %>
          <%= link_to 'Destroy', question_answer_path(@question, @answer), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </li>
  <% end %>
<% end %>
</ul>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', questions_path %>
