<% if answer.content %>
    <li id="<%= answer.id %>">
      <%= answer.content %>,
        <% if user_signed_in? %>
          <%= link_to "Upvote" , upvote_question_answer_path(@question, answer.id), method: :put %> |
          <%= pluralize(answer.get_upvotes.size, "Upvote") %> |
          <%= link_to "Downvote" , downvote_question_answer_path(@question, answer.id ),  method: :put %> |
          <%= pluralize(answer.get_dislikes.size, "Downvote") %>
          <% if answer.user == current_user %>
          <%= link_to 'Destroy', question_answer_path(@question, :id => answer.id), method: :delete,remote: true, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </li>
<% end %>
