<% if answer.content %>
    <li id="<%= answer.id %>">
      <%= answer.content %>,
        <% if user_signed_in? %>
          <%= link_to "Upvote" , upvote_question_answer_path(@question, answer.id),remote: true, method: :put,class: "upvote_#{answer.id}" %> |
        <% end %>
          <span id="upvotes_<%= answer.id %>"><%= pluralize(answer.get_upvotes.size, "Upvote") %></span> |
        <% if user_signed_in? %>
          <%= link_to "Downvote" , downvote_question_answer_path(@question, answer.id ),remote: true,  method: :put,class: "downvote_#{answer.id}" %> |
        <% end %>
          <span id="downvotes_<%= answer.id %>"><%= pluralize(answer.get_dislikes.size, "Downvote") %></span>
          <% if answer.user == current_user %>
          <%= link_to 'Destroy', question_answer_path(@question, answer.id), method: :delete,remote: true, data: { confirm: 'Are you sure?' } %>
         <% end %>
    </li>
<% end %>
